{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
<body>
<div id="mainBody">
	<div class="container">
	<div class="row">

		<div class="span9">		
		{% if carts %}	
			<h4>Cart Products </h4>
		{% else %}
			<h4>No Products In Cart</h4>
		{% endif %}
			  <ul class="thumbnails">
			  {% for i in carts %}
				<li class="span4">
				  <div class="thumbnail">
					<a  href="product_details.html"><img src="{{i.product.product_image.url}}" alt="" style="width:200px;height:200px;" /></a>
					<div class="caption">
					  <h5>{{i.product.product_name}}</h5>
					  <p> 
							{{i.product.product_desc}}
					  </p>
					 	<p> 
							Product Price {{i.product.product_price}}
					  </p>
					  <form name="price_change" method="post" action="{% url 'change-qty' %}">
					  	{% csrf_token %}
					  	<input type="hidden" name="cid" value="{{i.pk}}">
					  	Qty : <input type="number" name="product_qty" value="{{i.product_qty}}" min="1" max="10" onchange="this.form.submit();">
					  </form>
					  <p> 
							Total Price {{i.total_price}}
					  </p>
					  <h4 style="text-align:center"> <a class="btn" href="{% url 'product-detail' pk=i.product.pk %}">Details</a> </h4>
					</div>
				  </div>
				</li>
				{% endfor %}
			  </ul>	

		</div>

		</div>
		<h2>Net Price : {{net_price}}</h2>
		<form method="post">
			<input type="hidden" id="net_price" name="amount" value="{{net_price}}">
			<button type="button" class="btn btn-lg btn-primary" id="checkout-button">Checkout</button>
		</form>
	</div>
</div>

<script type="text/javascript">

var stripe = Stripe('pk_test_51MshH6SJuXwPfjjrrgxJ5tubbOgYAhRrqNcd4RDUSq1peWpIMZrjhIiTncSUWO9u6byeDf4KxdZPkFD4hU55mVOg00aRL5RT8x');
var checkoutButton = document.getElementById('checkout-button');

checkoutButton.addEventListener('click', function() { 
 fetch('/create-checkout-session/', {
 method: 'POST',
	headers:{
        'Accept': 'application/json',
        'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()

	},
    body: JSON.stringify({'post_data':'{{net_price}}'})
 })
 .then(function(response) {
 return response.json();
 })
 .then(function(session) {
 return stripe.redirectToCheckout({ sessionId: session.id });
 })
 .then(function(result) {
 // If `redirectToCheckout` fails due to a browser or network
 // error, you should display the localized error message to your
 // customer using `error.message`.
 if (result.error) {
 alert(result.error.message);
 }
 })
 .catch(function(error) {
 console.error('Error:', error);
 });
 });
 </script>
</body>
</html>
{% endblock %}