{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
<body>
<div id="mainBody">
	<div class="container">
	<div class="row">

	<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Forgot Password</li>
    </ul>
	<h3> Forgot Password</h3>	
	<hr class="soft"/>
	
	<div class="row">
		
		
		<div class="span12">
			<div class="well">

			{% if msg %}
				<b style="color:blue;">{{msg}}</b>
			{% endif %}
			<form method="post" action="{% url 'forgot-password' %}">
				{% csrf_token %}
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">Mobile</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="Enter Mobile" name="mobile">
				</div>
			  </div>
			  
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Send OTP</button> 
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div></div>
</div>
<!-- MainBody End ============================= -->
</body>
</html>
{% endblock %}