{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
<body>
<div id="mainBody">
	<div class="container">
	<div class="row">

	<div class="span12">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>	
	<div class="well">
	{% if msg %}
		<b style="color:blue;">{{msg}}</b>
	{% endif %}
	<form class="form-horizontal" method="post" action="{% url 'signup' %}">
		{% csrf_token %}

		<div class="control-group">
			<label class="control-label" for="inputFname">Select User Type <sup>*</sup></label>
			<div class="controls">
			  <select name="usertype">
			  	<option>---Select User Type---</option>
			  	<option value="buyer">Buyer</option>
			  	<option value="seller">Seller</option>
			  </select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputFname">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputFname" placeholder="First Name" name="fname">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLname" placeholder="Last Name" name="lname"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputLname">Email <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="inputLname" placeholder="Email" name="email"/>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="aditionalInfo">Address</label>
			<div class="controls">
			  <textarea id="aditionalInfo" cols="26" rows="3" name="address" placeholder="Address"></textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mobile">Mobile </label>
			<div class="controls">
			  <input type="text"  name="mobile" id="mobile" placeholder="Mobile"/> 
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mobile">Password </label>
			<div class="controls">
			  <input type="password"  name="password" id="password" placeholder="Password"/> 
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="mobile">Confirm Password </label>
			<div class="controls">
			  <input type="password"  name="cpassword" id="password" placeholder="Password"/> 
			</div>
		</div>
	
	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Sign Up" />
			</div>
		</div>		
	</form>
</div>

</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
</body>
</html>
{% endblock %}